<h1>Portfolio Items</h1>

<% @portfolio_items.each do |p| %>
  <p><%= p.title %></p>
  <p><%= p.subtitle %></p>
  <p><%= p.body %></p>
  <p><%= p.main_image %></p>
  <%= image_tag p.thumb_image %>
<% end %>
